<ion-header>
  <ion-toolbar>
    <ion-title>NovoPedidoModal</ion-title>
  </ion-toolbar>
  <ion-buttons slot="start">
    <ion-button href="/home">Voltar</ion-button>
  </ion-buttons>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label>prato:</ion-label>
      <ion-input [(ngModel)]="novo_pedido.prato"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>data:</ion-label>
      <ion-input [(ngModel)]="novo_pedido.data"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>tamanho:</ion-label>
      <ion-input [(ngModel)]="novo_pedido.tamanho"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>valor:</ion-label>
      <ion-input [(ngModel)]="novo_pedido.valor"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="add()">OK</ion-button>

  </ion-list>
</ion-content>
