<ion-header>
  <ion-toolbar>
    <ion-title>
      Olá
    </ion-title>
    <ion-button slot="end" href='/lista-pedido'>List</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let usuario of usuarios">
    <ion-card-header>
      <ion-card-title>{{usuario.nome}}</ion-card-title>
      <img src="{{usuario.imagem}}" alt="Imagem">
    </ion-card-header>

    <ion-buttons slot="end">
      <ion-button (click)="abrir_modal()" color="dark"> ATUALIZAR USUARIO</ion-button>
    </ion-buttons>
  </ion-card>

  
</ion-content>
